<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Places Searchbox</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "CSS/stylev2.css" %}"/>
        <link rel="stylesheet"  href="{% static "css/default.css" %}"/>
		<link rel="stylesheet" href="{% static "css/component.css" %}"/>
		<script  src="{% static "scripts/modernizr.custom.js" %}"></script>
    </head>
    <body>

        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <!--<input class="infobutton" id="wikiButton" type="button" name="info" value="Information" onclick="getInfo('Sydney')" >-->
        <div  id= "wikiPane" class="infoPanel">???</div>
        <nav class="dr-menu" id="videoList">
            <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">video</a></div>
            <ul  id="myList" class="listClass">
                <li><a class="dr-icon1 dr-icon-play" href="javascript:void(0)" id="firstVideo" onclick="showPlayer(0)"></a></li>
                <li><a class="dr-icon1 dr-icon-play" href="javascript:void(0)" id="secondVideo" onclick="showPlayer(1)"></a></li>
                <li><a class="dr-icon1 dr-icon-play" href="javascript:void(0)" id="thirdVideo" onclick="showPlayer(2)"></a></li>

            </ul>
        </nav>

        <!--<input id="wikiButton" class="wikiB" type="button" name="info" value="Information" onclick="showPlayer(0)" > -->
        <div id"infoPanel" class="wikiPanel"></div>
        <div id="map" class="main"></div>
        <nav class="dr-menu">
            <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">Route</a></div>
            <ul  id="placeList" class="listClass">
                <!--<li><a class="dr-icon1 dr-icon-loc" href="#" id="firstLoc" onclick="showPlayer()"></a></li> -->
            </ul>
        </nav>
        <div id="info-box"></div>
        <!--<div id="info-box">?</div> -->
        <iframe id="playerFrame" src="https://www.youtube.com/embed/obgckExzwLc" frameborder="0" allowfullscreen></iframe>
		<input id="dirBut"onclick="goToDirections();" id ="routebutton"class ="btn btn-success" type = "button" value="Give me direction">
        <button id="sugBut"onclick="window.location.href='../category'"  class="btn btn-success">Suggest something to me</button>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4d2ew9UfHchhlYl_VBLtGryqgwbD18eA&libraries=places&callback=initAutocomplete" async defer></script>
        {% load static %}
        <script type="text/javascript" src="{% static "scripts/step4.js" %}"></script>
        <script type="text/javascript" src="{% static "scripts/ytmenu.js" %}"></script>
    </body>
</html>
