<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Places Searchbox</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "CSS/styleV2.css" %}">
    </head>
    <body>
        <input id="pac-input" class="controls" type="text" placeholder="Search Box" onfocusout="mapFocus()">
        <div id="map"></div>
        <!--<div id="info-box">?</div> -->
        <iframe id="playerFrame" src="https://www.youtube.com/embed/obgckExzwLc" frameborder="0" allowfullscreen></iframe>
        <ul id="myList">
            <li>
                <a href="javascript:void(0)" id="firstVideo" onclick="showPlayer()"></a>
            </li>
            <li>
                <a href="" id="secondVideo"></a>
            </li>
            <li>
                <a href="" id="thirdVideo"></a>
            </li>
        </ul>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4d2ew9UfHchhlYl_VBLtGryqgwbD18eA&libraries=places&callback=initAutocomplete" async defer></script>
        {% load static %}
        <script type="text/javascript" src="{% static "scripts/step3.js" %}"></script>
    </body>
</html>
